#box1 {
  background-color: #7f848c;
}

#box2 {
  background-color: #42543c;
}

#box3 {
  background-color: #dec0ad;
}

#box4 {
  background-color: #292728;
}

#box5 {
  background-color: #c6bc8a;
}

#box5text {
  color: #425e44;
  font-family: "RecifeDisplay";
}

#box5text2 {
  color: #425e44;
  font-family: "Maison Neue Medium";
}
