@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RecifeDisplay";
  src: url("./fonts/RecifeDisplay-Regular.ttf");
}

@font-face {
  font-family: "Maison Neue Medium";
  src: url("./fonts/MaisonNeue-Medium.otf");
}

body {
  margin: 0;
  padding: 0;
}
